body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .profile-image {
    text-align: center;
  }
  
  .profile-image img {
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  

  header {
    background-color:#45a049;
    padding: 20px;
    text-align: center; /* Add this line */
  }
  
  nav {
    display: inline-block; /* Add this line */
    
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; /* Add this line */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  
  section {
    padding: 50px;
  }
  
  #about {
    background-color: #f9f9f9;
    text-align: center;
  }

  section#skills {
    background-color:#d5ead1;
    padding: 50px;
    text-align: center;
 
  }
  .image-container {
    display: flex;
    justify-content: space-between;
    background-color: #d5ead1;
  }
  
  .image-container img {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 70%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  section#projects {
    background-color: #e9e9e9;
    padding: 50px;
    text-align: center;
 
  }
  
  .project {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
  }
  
  .project:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project h2 {
    margin-top: 0;
  }
  
  .project p {
    margin-bottom: 0;
  }
  
  
  #contact {
    background-color: #f9f9f9;
    text-align: center;
    color: #45a049;
  }
  
  form input,
  form textarea,
  form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  footer {
    background-color:#45a049;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  